@import '../../styles/styles-config.scss';

.menu {
  display: block;
  position: relative;
  -webkit-user-select: none;
  user-select: none;
  z-index: 1;
}

.menu {
  &__checkbox {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
    -webkit-touch-callout: none;
  }
}

.menu {
  &__line {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: #949494;
    border-radius: 3px;
    transform-origin: 4px 0px;

    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
      background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
    z-index: 1;
  }
}

.menu {
  &__line:first-child {
    transform-origin: 0% 0%;
  }
}

.menu {
  &__line:nth-last-child(2) {
    transform-origin: 0% 100%;
  }
}

.menu {
  &__checkbox:checked ~ &__line {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: $gray_color;
  }
}

.menu {
  &__checkbox:checked ~ &__line {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }
}

.menu {
  &__checkbox:checked ~ &__line:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
  }
}

.menu {
  &__checkbox:checked ~ ul {
    transform: none;
  }
}

.list {
  position: fixed;
  overflow: auto;
  margin: -90px 0 0 -50px;
  padding: 35px;
  padding-top: 125px;
  width: 300px;
  height: 100%;
  max-height: 100vh;

  background-color: #e5fff8;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;

  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  scroll-behavior: smooth;

  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */

  &__item {
    height: 40px;
    margin-bottom: 15px;
    @include flex($justify: flex-start);
  }
  &__itemImg {
    margin-right: 10px;
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-size: contain;
  }
  &__itemLink {
    height: 40px;
    @include flex($justify: flex-start);
    color: inherit;
    text-transform: uppercase;
    text-decoration: none;
    transition: color 0.3s ease;

    &:hover {
      color: tomato;
    }

    &::before {
      margin-right: 10px;
      transform: scale(0.65);
    }
  }
  &__item_active {
    background-color: #a8ffe7;
    border-radius: 30px;
    color: #47f5ff;
    text-shadow: -1px 0 $black_color, 0 1px $black_color, 1px 0 $black_color, 0 -1px $black_color;
  }
}
