@import '../../styles/styles-config.scss';

.finishedGame {
  padding: 20px;
  width: 60%;
  height: 500px;
  @include flex($direction: column, $wrap: nowrap);
  background-color: white;
  border-radius: 15px;

  &__message {
    font-size: 25px;
  }
  &__image {
    width: 80%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    &_fail {
      background-image: url(/images/image__failed.png);
    }
    &_win {
      background-image: url(/images/image__winner.png);
    }
  }
  .btn {
    @include button();
  }
}
