@import '../../../styles/styles-config.scss';

.container {
  width: 100%;
  @include flex($direction: column);

  .words {
    @include flex($justify: space-evenly);

    &_blocked {
      pointer-events: none;
    }
  }
  .title {
    margin: 20px;
    text-transform: uppercase;
  }
}
